@use "../../scssStyles" as *;

.tag {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 20px;

	&.s {
		padding: 5px 10px;

		@include rhythm(12, 12);
	}

	&.m {
		padding: 5px 10px;

		@include rhythm(14, 14);
	}

	&.ghost {
		border: 1px solid $gray-light;
	}

	&.red {
		color: $white;
		font-weight: bold;
		background: $red-dark;
	}

	&.gray {
		color: $white;
		font-weight: bold;
		background: $gray-dark;
	}

	&.green {
		color: $green;
		font-weight: bold;
		background: $green-light;
	}

	&.primary {
		color: $primary;
		background: none;
		border: 1px solid $primary;
	}
}
