@use "@/scssStyles" as *;
.button {
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    &.primary {
        background-color: $primary;

        &:hover {
            background-color: $primary-hover;
        }

        svg * {
            fill: $white;
        }
    }

    &.white {
        background-color: $white;

        &:hover {
            background-color: $primary;
            svg * {
                fill: $white;
            }
        }
        svg * {
            fill: $primary;
        }
    }
}
