@use "../../scssStyles" as *;

.filled svg {
    fill: $primary;
}

.star {
    display: inline-block;
    svg {
        margin-right: 5px;
    }
}

.editable {
    cursor: pointer;
}

.ratingWrapper {
    position: relative;
    &.error {
        stroke: $red;
    }

    .errorMessage {
        position: absolute;
        bottom: -20px;
        left: 5px;
        color: $red;
    }
}
