@use "../../scssStyles" as *;

.wrapper {
	.title {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: 20px;
		align-items: baseline;
		justify-items: left;
		margin-bottom: 30px;
	}

	.hhTitle {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 20px;
		align-items: baseline;
		justify-items: left;
	}

	.seo {
		h1 {
			@include rhythm(26, 35, 500);

			margin: 0;
		}

		h2 {
			@include rhythm(22, 30, 500);

			margin-top: 50px;
			margin-bottom: 25px;
		}

		h3 {
			@include rhythm(20, 27, 500);

			margin: 0;
		}
	}
}

@include for-size(phone) {
	.wrapper {
		.title {
			grid-template-columns: auto 1fr;
		}
	}
}
