@use "../../scssStyles" as *;

.horizontal {
	width: 100%;
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: $gray-light;
	border: none;
}

.vertical {
	border-left: 1px solid $gray-light;
}
