@use "../../scssStyles" as *;

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;

	button {
		display: grid;
		grid-template-columns: 20px 1fr;
		gap: 8px;
		align-items: center;
		background: none;
		border: none;
		cursor: pointer;

		@include rhythm(16, 22, 500);

		&:not(.active) {
			grid-template-columns: 1fr;
		}
	}

	.sortName {
		display: none;
	}

	.sortIcon {
		display: none;
	}

	.active {
		@include rhythm(16, 16, bold);

		color: $primary;

		.sortIcon {
			display: block;
			margin-right: 8px;
		}
	}
}
