// colors
$black: #3b434e;
$white: white;
$gray-light: #ebebeb;
$gray: #a4a4a4;
$gray-dark: #6c7077;
$primary: #7351f5;
$primary-hover: #6344df;
$red: #fc836d;
$red-light: #fea291;
$red-dark: #de0000;
$green: #007b48;
$green-light: #c8f8e4;

// fonts
$font-family: "Noto Sans", sans-serif;
