@use "../../scssStyles" as *;

.menu {
	.firstLevel {
		display: grid;
		grid-template-columns: 24px 1fr;
		gap: 20px;
		align-items: center;
		margin-top: 20px;

		@include rhythm(18, 25);

		&.firstLevelActive,
		&:hover {
			color: $primary;

			svg {
				fill: $primary;
			}
		}
	}

	.secondBlock {
		margin-top: 15px;
		margin-left: 12px;
		padding-left: 32px;
		border-left: 1px solid $gray-light;

		.secondLevel {
			margin-bottom: 10px;
			color: $gray;
			text-transform: uppercase;
			cursor: pointer;

			@include rhythm(12, 16, 300);
		}

		.secondLevelBlock {
			overflow: hidden;
		}
	}

	.thirdLevel {
		display: block;
		margin-bottom: 10px;
		color: $gray-dark;
		cursor: pointer;

		@include rhythm(14, 19);

		&.thirdLevelActive,
		&:hover {
			color: $primary;
		}
	}
}
