@use "../../scssStyles" as *;
.menu {
    .firstLevelList {
        list-style: none;
        padding: 0;
        .firstLevel {
            display: grid;
            grid-template-columns: 24px 1fr;
            gap: 20px;
            margin-top: 20px;
            align-items: center;
            @include rhythm(18, 25);

            &.firstLevelActive,
            &:hover {
                color: $primary;

                svg {
                    fill: $primary;
                }
            }
        }
    }

    .secondBlock {
        margin-top: 15px;
        margin-left: 12px;
        padding-left: 0 0 0 32px;
        border-left: 1px solid $gray-light;
        list-style: none;

        .secondLevel {
            margin-bottom: 10px;
            cursor: pointer;
            text-transform: uppercase;
            color: $gray;
            @include rhythm(12, 16, 300);
            outline-offset: -1px;
            background: none;
            border: none;
            padding: 0;
        }

        .secondLevelBlock {
            overflow: hidden;
            list-style: none;
            padding: 0;
        }
    }

    .thirdLevel {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        color: $gray-dark;
        @include rhythm(14, 19);
        outline-offset: -1px;

        &.thirdLevelActive,
        &:hover {
            color: $primary;
        }
    }
}
