@use "../../scssStyles" as *;

.menu {
	.firstLevelList {
		padding: 0;
		list-style: none;

		.firstLevel {
			display: grid;
			grid-template-columns: 24px 1fr;
			gap: 20px;
			align-items: center;
			margin-top: 20px;

			@include rhythm(18, 25);

			&.firstLevelActive,
			&:hover {
				color: $primary;

				svg {
					fill: $primary;
				}
			}
		}
	}

	.secondBlock {
		margin-top: 15px;
		margin-left: 12px;
		padding-left: 0 0 0 32px;
		list-style: none;
		border-left: 1px solid $gray-light;

		.secondLevel {
			margin-bottom: 10px;
			padding: 0;
			color: $gray;
			text-transform: uppercase;
			background: none;
			border: none;
			outline-offset: -1px;
			cursor: pointer;

			@include rhythm(12, 16, 300);
		}

		.secondLevelBlock {
			padding: 0;
			overflow: hidden;
			list-style: none;
		}
	}

	.thirdLevel {
		display: block;
		margin-bottom: 10px;
		color: $gray-dark;
		outline-offset: -1px;
		cursor: pointer;

		@include rhythm(14, 19);

		&.thirdLevelActive,
		&:hover {
			color: $primary;
		}
	}
}
