@use "../../scssStyles" as *;

.h1 {
    margin: 0;
    @include rhythm(26, 35, bold);
}

.h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    @include rhythm(22, 30, bold);
}

.h3 {
    margin: 0;
    @include rhythm(20, 27);
}
